body {background: #EDEDED;}
header, section {
	/*border: 1px solid #FF0000;
	padding: 40px;*/
}
header nav {
  background: none repeat scroll 0 0 #FFFFFF;
  border-bottom: 3px solid #F0F0F0;
  padding: 10px 0;
}
nav ul {
  font-size: 1.75em;
  margin: 10px 0;
}
nav ul > li {
  border-right: 1px solid #F0F0F0;
  padding: 0 15px;
}
nav ul > li:last-child {
    border: none;
    padding: 0 15px;
}
#greeterText {
  border-bottom: 3px solid #E0E0E0;
  margin: auto 50px;
}
section {background: #fff;}
section > div {
  border-right: 1px solid #F0F0F0;
}
section > div:last-child {
    border: none;
}
.col-md-9 {
	border-right: 3px solid #808080;
}

img.profile {
	padding: 25px 0;
}

.col-md-4 > div {
  margin-bottom: 25px;
}

