body * {font-size: 62.5%;}
h1 {
  font-size: 10em;
}

nav ul.list-inline li a {
  font-size: 15em;
}
div#personalInfo h2 {
  font-size: 25em;
}
div#personalInfo li, #companyInfo li {
  font-size: 25em;
}
div.col-md-4 h3 {
	font-size: 15em;
}
#locationList li {
	font-size: 15em;
}

header, section {
	border: 1px solid #FF0000;
	/*padding: 40px;*/
}
.col-md-9 {
	border-right: 3px solid #808080;
}

img.profile {
	padding: 25px 0;
}

.col-md-4 > div {
  margin-bottom: 25px;
}

